body {
    margin: 0;
    padding: 0;
}
#item1 { grid-area: first; }
#item2 { grid-area: second; }
#item3 { grid-area: third; }
#item4 { grid-area: last; }

.grid-container {
    display: grid;
    grid-template-areas:
    'first second'
    'third last';
    grid-gap: 10px;
    background-color: #2196F3;
    padding: 10px;
    height: calc(100vh - 20px);
}

.grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.loader {
    width: 120px;
    height: 22px;
    border-radius: 20px;
    color: #514b82;
    border: 2px solid;
    position: relative;
    margin: auto;
    opacity: 1; 
    animation: fadeOut 5s forwards; 
}

.loader::before {
    content: "";
    position: absolute;
    margin: 2px;
    inset: 0 100% 0 0;
    border-radius: inherit;
    background: currentColor;
    animation: fillBar 5s forwards; 
    
}

@keyframes fillBar {
    100% {
        inset: 0;}}

@keyframes fadeOut {
    100% {
        opacity: 0; }}
